.div-center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
  
.div-circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.bg-awesome {
    color: chocolate;
}
  
h2 {
    width: 40%;
    font-weight: 400;
    color: gray;
    border-bottom: 1px solid rgba(128, 128, 128, 0.6);
    margin: 30px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}
  
span {
    font-weight: lighter;
    color: grey;
}