body {
    margin: 0;
    padding: 0;
    background: #262626;
  }
  
 
  
  /* button hover amazing effect */
  a {
    background-color: gainsboro;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    /* line-height: 2; */
    color: #ff0;
    font-size: 30px;
    font-family: verdana;
    /* line-height: 100px; */
    letter-spacing: 4px;
  
   
    padding-left: 5px;
    /* padding-right: 5px; */
  }
  
  a::before,
  a::after,
  span::before,
  span::after {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    background: transparent;
    transition: 2s;
    /* -webkit-mix-blend-mode: hue; */
  }
  
  a::before {
    top: -100px;
    left: -100px;
    border-top: 2px solid #ff0;
    border-left: 2px solid #ff0;
  }
  a::after {
    top: -100px;
    right: -100px;
    border-top: 2px solid #ff0;
    border-right: 2px solid #ff0;
  }
  
  span::before {
    bottom: -100px;
    left: -100px;
    border-bottom: 2px solid #ff0;
    border-left: 2px solid #ff0;
  }
  span::after {
    bottom: -100px;
    right: -100px;
    border-bottom: 2px solid #ff0;
    border-right: 2px solid #ff0;
  }
  
  
  a:hover::before,
  a:hover::after,
  a:hover span::before,
  a:hover span::after  {
    width: calc( 180px / 2);
    height: calc( 50px / 2);
  }