.wrapper {
    background-color: darkgray;
    width: 80vw;
    height: 80vh;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.for-frame {
    position: absolute;
    background-color: transparent;
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

h3 {
    background-color: rgba(255, 99, 71, 0.6);
    line-height: 2em;
    position: absolute;
    width: 660px;
    text-align: center;
    text-transform: uppercase;
    
    
}

.for-frame::before,
.for-frame::after,
span::before,
span::after {
    content: "";
    position: absolute;
    width: 51% ;
    height: 10%;
    transition: 1s;
    opacity: 0;

}

.for-frame::before {
    border-top:  3px solid black;
    border-left: 3px solid black;
    top: -5px;
    left: -5px;
}


.for-frame::after {
    border-top:  3px solid black;
    border-right: 3px solid black;
    top: -5px;
    right: -5px;
}

span::before {
    border-bottom:  3px solid black;
    border-left: 3px solid black;
    bottom: -5px;
    left: -5px;
}

span::after {
    border-bottom:  3px solid black;
    border-right: 3px solid black;
    bottom: -5px;
    right: -5px;
}

.for-frame:hover::before,
.for-frame:hover::after,
span:hover::before,
span:hover::after {
    opacity: 1;
    height: 51%;
}