%btn {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-family: $font-primary;
    font-size: $base-font-size;
    border: none;
    padding: 15px 35px;
    transition: all 0.3s


}


.btn-reserve {
    @extend %btn;
    background-color: $color-primary;
    color: $text-color-white;

    &:hover {
        background-color: $color-gray;
    }
}


.btn-blue {
    @extend %btn;
    border-radius: 25px;
    margin: 30px 0;
    background-color: $color-primary;
    color: $text-color-white;

    &:hover {
        background-color: $color-gray;
    }

}

.btn-gray {
    @extend %btn;
    border-radius: 25px;
    background-color: $color-gray;
    color: $text-color-white;
    margin: 30px 0;

    &:hover {
        background-color: $color-primary;
    }
}

.btn-form {
    @extend %btn;
    background-color: $text-color-white;
    border-radius: 25px;
    color: $color-secondary;

    &:hover {
        background-color: $color-gray;
        color: $text-color-white;
    }
}

