.wrapper {
    position: relative;
    background-color: darkgray;
    width: 100vw;
    height: 100vh;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    position: absolute;
}

h3 {
    background-color: rgba(255, 99, 71, 0.6);
    line-height: 2em;
    position: absolute;
    width: 660px;
    text-transform: uppercase;
    text-align: center;
}

.for-frame {
    position: relative;
    background-color: transparent;
    width: 650px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 1s;
}

.top-border,
.bottom-border {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 20%;
    left: 0;
    transition: all 1.5s;
}

.top-border {
    top: 0;
}

.bottom-border {
    bottom: 0;
}

.top-border::after,
.top-border::before,
.bottom-border::after,
.bottom-border::before {
    content: "";
    width: 100%;
    height: 100%;

}

.top-border::after,
.top-border::before {
    border-top: 3px solid black
}

.bottom-border::after,
.bottom-border::before {
    border-bottom: 3px solid black;
}

.top-border::before,
.bottom-border::before {
    border-left: 3px solid black;
}

.top-border::after,
.bottom-border::after {
    border-right: 3px solid black;
}

/* Hover */

.for-frame:hover {
    opacity: 1.5;
}

.top-border:hover,
.bottom-border:hover {
    height: 50%;
}