
// Font styles

$base-font-size: 16px;
$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Bellota', sans-serif;

// Colors

$color-primary: #1ba4ce;
$color-secondary: #473452;

$color-gray: #30383b;
$text-color-primary: #888888;
$text-color-secondary: #555;
$text-color-white: #ffffff;

// Box-shadow
$base-shadow: 0 5px 20px #f0f0f0;

// Container

$s-container: 100%;
$l-container: 960px;
$xl-container: 1140px;

// Mobile

$extra-small: 480px;
$small: 576px;
$medium: 768px;
$large: 992px;
$extra-large: 1200px;

